<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title> Movie Recommender </title>
    <link rel='stylesheet' href='/static/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/static/style.css'>
  </head>

  <body>
    <div class="container">
      <h1>Random Movie Recommender</h1>
      <img src='/static/main.jpg' width='350'>
    <!-- <div class="alert alert-primary" role="alert">
      A simple primary alert—check it out!
    </div> -->

      <p id='first'>
        Can you tell me your favorite movies?
      </p>
      <form action='/recommend' method='GET'>
        <input type='text' name='fav_movie0' placeholder='Why so serious?'>
        <input type='text' name='fav_movie1' placeholder='Are you not entertained!!?'>
        <input type='text' name='fav_movie2' placeholder='You shall not pass!'>
        <p class='second'>
        How many recommendations do you want?
        </p>
        <input type= 'text' name='n_movies' value='3'>
        <input type='submit' value='Get Recommendation'>
      </form>

          <!-- Optional JavaScript -->
         <!-- jQuery first, then Popper.js, then Bootstrap JS -->
         <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
         <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
         <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
     </div>

  </body>
</html>

<!--
<p>
  Click
  <strong><a href="/recommend">here</a></strong>
  to get a random movie recommendation.
</p>
-->
