<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title> Movie Recommender </title>

    <link rel="stylesheet" href="/static/style.css">
  </head>

  <body class='fondo'>

      <h1>Movie Recommender </h1>

      <p class='first'>
        Can you tell me your favorite movies?
      </p>

      <form class='form' action='/recommend' method='GET'>
        <input type='text' name='fav_movie0' size= '30' placeholder='e.g.:The Godfather'>
        <input type='text' name='fav_movie1' size= '30' placeholder='e.g.:Star Wars'>
        <input type='text' name='fav_movie2' size= '30' placeholder='e.g.:Lord of the rings'>
        <p class='first'>
        How many recommendations do you want?
        </p>
        <select name='n_movies'>
          <option value='1'>1</option>
          <option value='2'>2</option>
          <option value='3'>3</option>
          <option value='4'>4</option>
          <option value='5'>5</option>
        </select>
        <input type='submit' value='Go'>
      </form>
      <button class='button' onclick="window.location.href='https://github.com/Llana13';">More</button>
     </div>
  </body>
</html>
