<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <title> Recommendations </title>

  <link rel="stylesheet" href="/static/style.css">
</head>

  <body class='fondo'>

      <h1>I recommend you to watch </h1>

      <ul class='first'>
      {% for name in movie_name %}

        <li>{{name}}</li>

      {%endfor%}
      </ul>
    </body>

    <body>
      <button class='button' onclick="window.location.href='/';">Back</button>
      <button class='button' onclick="window.location.href='https://github.com/Llana13';">More</button>
    </body>
</html>
