<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <title> Recommendations </title>
  <link rel='stylesheet' href='/static/css/bootstrap.min.css'>
  <link rel='stylesheet' href='/static/style.css'>
</head>

  <body class='fondo2'>

      <h1>I recommend you to watch </h1>

      <ul class='first'>
      {% for name in movie_name %}

        <li>{{name}}</li>

      {%endfor%}
      </ul>
    </body>

    <body>
      <button class='button' onclick="window.location.href='/';">Get more recommendations</button>
      <button class='button' onclick="window.location.href='https://github.com/Llana13';">GitHub profile</button>
    </body>
</html>
